/******************Html Tags**************************/
body{
  background-color:#66BFBF;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  margin: 0;
  }
h1{
  font-size: 2rem;
  font-weight: normal;
  line-height: normal;
  color: #19d3da;
  width:35%;
  margin: 0 auto 0 auto;
  font-family: 'Pacifico', cursive;
  padding-bottom: 30px;
}
h2{
  font-family:'Sansita Swashed', cursive;
  color: #19d3da;
}
h3{
  font-family:'Sansita Swashed', cursive;
  color: #19d3da;
}
p{
  font-family:'Sansita Swashed', cursive;
  color: black;
  font-weight: normal;
}
hr{
  color: grey;
  border-style: dotted none none;
  border-width:7px;
  width: 3%;
}
a{
  color: #66BFBF;
  text-decoration: none;
  margin: 10px 20px;
}
a:hover{
  color: white;
}


/**********Class Selectors**********/

.top-container{
  padding-top: 100px;
  }
.middle-container{
  background-color: white;

}
.bottom-container{
  background-color: #a3d8f4;
  margin : auto;
  padding : 1rem 0;

}
.profile{
  padding-bottom: 50px;
}
.cloud-top{
  position: absolute;
  right:400px;
  top:150px;
}
.cloud-bottom{
    position: absolute;
    top : 140px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.coding-image{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.seo-image{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.profile-pic{
  width : 15%;
  margin-top: 30px;
}
.cta{
  font-weight: bold;
}
.btn{
width: 180px;
height: 40px;
color: #fff;
text-decoration: none;
background: #19d3da;
border-radius: 10px;
display: inline-block;
border: none;
margin : 30px 30px 80px 30px;
}
.btn:hover{
transform: scale(1.2);
}
.copyright{
  margin : 40px auto 10px ;
}
